    .container {
      width: 900px;
      height: 100%;
      margin: 40px auto;
      border-radius: 25px;
      border: 1px solid #000;
    }

  .body {
    background-image: url("forest.jfif");
    background-size: cover;
    background-repeat: no-repeat;
}
